body {
  margin: 0;
  color: white;
  
}

.login-form {
	font-family:  'Raleway', sans-serif;
	box-sizing: border-box;
    background-color: rgb(77, 77, 77, .3);
    padding: 60px;
    height: 300px;
    color: black;
   	box-shadow: 6px 6px 6px #999;
   	border: 1px grey;
   	float: right;
   	border-radius: 3px;
   	//font-family: Futura,Trebuchet MS,Arial,sans-serif; 
 }

 label{
 	color: white;
 }

 input{
 	color: black;
 	background-color: white;
 	margin: auto;
 	margin-bottom: 3%;
 	height: 20px;
 	border-radius: 2px;
 }

#reg{
	margin-top: 5px;
	width: 130px;
	color: white;
	border-radius: 2px;
	//background-color: white;
	background-color: #43464B;
	box-shadow: 6px 6px 6px #999;
}

#dont{
	color: white;
	margin-top: 10px;
}

h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
}

body {
  //font-family: 'Roboto Mono', monospace;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //padding: 20px 50px 150px;
  font-size: 13px;
  text-align: center;
  background: #E3CAA1;
}

#password{
	color: black;
}

#email{
	color: black;
}

.mine{
	box-sizing: border-box;
	//background-color: black;
	background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
	color: white;
	text-align: center;
    line-height: 4vh;
    display: inline-table;
    border-radius: 3px;
    box-shadow: 6px 6px 6px #999;
    margin-bottom: 5%;
}

#my-chart{
	position: absolute;
	box-sizing: border-box;
    opacity: .7;
    margin-left: 5%;
    margin-right: 5%;
    color: blue;
	text-align: center;
    line-height: 4vh;
    display: block;
    border-radius: 3px;
    box-shadow: 6px 6px 6px #999;
    margin-bottom: 5%; 
}

#coin-names{
	font-size: 20px;
	text-decoration: underline;
	color: white;
	font-family: Futura, Trebuchet MS, Arial, sans-serif; 
	text-align: center;
	margin: auto;
}

#amount{
	text-align: center;
}

td{
	border-top: 1px solid white;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 1.0;
	z-index: 100;
}

#plus{
	color: white;
	border-radius: 2px;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding-bottom: 2px;
	padding: 2px;
	text-align: center;
}

#left:hover{
 background: red;
 cursor: pointer;
}

button:hover{
	cursor: pointer;
}


th{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-left: 10px;
	font-size: 15px;
	margin-right: 10px;
}


.my-amounts{
	box-sizing: border-box;
	background-color: black;
	opacity: .5;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	text-align: center;
	column-count: 1;
    line-height: 4vh;
    display: table;
}

#current{
	text-align: right;
}

ul{
  list-style: none;
}

.btnn, #btnn{
    margin: 0;
    //color: #333333;
    margin-top: 2%;
    background: -webkit-radial-gradient(#F7F7F7, #CDCDCD);
    background: -o-radial-gradient(#F7F7F7, #CDCDCD);
    background: -moz-radial-gradient(#F7F7F7, #CDCDCD);
    background: radial-gradient(#F7F7F7, #CDCDCD);
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a{
  text-decoration: none;
}

#content{
  text-align: center;
}

.btnn, #btnn, #reg{
  margin-top: 3%;
  margin-bottom: 3%;
  margin: auto;
  text-align: center;
  height: 30px;
  width: 130px;
  display: -webkit-box;
  cursor: pointer;
  color: #F0F0F0;
  border-radius: 2px;
  display: table;
  box-shadow: 6px 6px 6px #999;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  background: -webkit-linear-gradient(transparent, grey);
    background: -o-linear-gradient(transparent, grey);
    background: -moz-linear-gradient(transparent, grey);
    background: linear-gradient(transparent, grey);
  
  -webkit-transition: background 0.05s linear;  
    -moz-transition: background 0.05s linear;  
    -o-transition: background 0.05s linear;  
    transition: background 0.05s linear;
  
  background-size: 1px 200px;
  
  transition: all .05s linear;
}




#btnn {
    margin-bottom: 7%;
}

#btnn:hover{
  background-position:75px;
}

#btnn:active {
  box-shadow: 2px 2px 2px #777;
 
  transform: translateY(3px);
}

.btnn:hover{
  background-position:75px;
}

.btnn:active {
  box-shadow: 2px 2px 2px #777;
  transform: translateY(3px);
}


.intro {
	position: absolute;
	z-index: 100;
	align-items: center;
	color: white;
	font-family: "Courier New", Courier, monospace;
	margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
	//background: url("https://www.commondreams.org/sites/default/files/styles/cd_large/public/views-article/global-system.jpg?itok=w9HayZKF") center center;
	background: url("https://ak6.picdn.net/shutterstock/videos/7739563/thumb/1.jpg")no-repeat center center fixed;
	//background: url("https://cdn-images-1.medium.com/max/2000/1*10kSRRSOjOOA5bY825Ckgw.jpeg")no-repeat center center fixed; 
	//background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg) no-repeat center center fixed; 
	//background-color: #4169E1;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.container {
	width: 100%;
	position: relative;
	overflow: hidden;
}

h1.main, p.demos {
	-webkit-animation-delay: 18s;
	-moz-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}

.sp-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	//z-index: 0;
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
	background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}

.sp-content {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.sp-container h2 {
	position: absolute;
	top: 60%;
	line-height: 100px;
	height: 90px;
	margin-top: -40px;
	font-size: 90px;
	width: 100%;
	text-align: center;
	color: transparent;
	-webkit-animation: blurFadeInOut 3s ease-in backwards;
	-moz-animation: blurFadeInOut 3s ease-in backwards;
	-ms-animation: blurFadeInOut 3s ease-in backwards;
	animation: blurFadeInOut 3s ease-in backwards;
}



.sp-container h2.frame-1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
	font-size: 6vh;
}

.sp-container h2.frame-2 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
	font-size: 6vh;
}

.sp-container h2.frame-3 {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
	font-size: 6vh;
}

.sp-container h2.frame-4 {
	font-size: 100px;
	-webkit-animation-delay: 8s;
	-moz-animation-delay: 8s;
	-ms-animation-delay: 8s;
	animation-delay: 8s;
	font-size: 6vh;
}

.sp-container h2.frame-4 span {
	font-size: 100px;
	-webkit-animation-delay: 9s;
	-moz-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
	font-size: 6vh;
}

.sp-container h2.frame-5 {
	font-size: 100px;
	-webkit-animation-delay: 12s;
	-moz-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
	font-size: 6vh;
}

.sp-circle-link:hover {
	background: #85373b;
	color: #fff;
}

@-webkit-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-webkit-transform: scale(0);
	}
}

@-webkit-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-webkit-transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes fadeInBack {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-webkit-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-webkit-transform: scale(5);
	}
}

@-webkit-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) rotate(0deg);
	}
}
/**/

@-moz-keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		-moz-transform: scale(0);
	}
}
@-moz-keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		-moz-transform: scale(1.3);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		-moz-transform: scale(1);
	}
}
@-moz-keyframes fadeInBack {
	0% {
		opacity: 0;
		-moz-transform: scale(0);
	}
	50% {
		opacity: 0.4;
		-moz-transform: scale(2);
	}
	100% {
		opacity: 0.2;
		-moz-transform: scale(5);
	}
}
@-moz-keyframes fadeInRotate {
	0% {
		opacity: 0;
		-moz-transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1) rotate(0deg);
	}
}
/**/

@keyframes blurFadeInOut {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	20%, 75% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		text-shadow: 0px 0px 50px #fff;
		transform: scale(0);
	}
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}
@keyframes fadeInBack {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	100% {
		opacity: 0.2;
		transform: scale(5);
	}
}
@keyframes fadeInRotate {
	0% {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}


h1 {
	z-index: 1000;
	display: inline-block;
	padding-right: 2px;
	opacity: 1;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
	font-style: bolder;
	font-variant: bolder;
	font-weight: 400;
	-webkit-animation-delay: 14s;
	-moz-animation-delay: 14s;
	-ms-animation-delay: 14s;
	animation-delay: 14s;
	font-size: 0;
	-webkit-animation: blurFadeIn 3s ease-in 14s backwards;
	-moz-animation: blurFadeIn 1s ease-in 14s backwards;
	-ms-animation: blurFadeIn 3s ease-in 14s backwards;
	animation: blurFadeIn 3s ease-in 14s backwards;
	color: transparent;
	text-shadow: 0px 0px 1px #fff;
	font-size: 6vh;
}

@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}

img {
	z-index: 1000;
	opacity: 1.0;
	width: 40px;
	height: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 16s backwards;
	-moz-animation: fadeInRotate 1s linear 16s backwards;
	-ms-animation: fadeInRotate 1s linear 16s backwards;
	animation: fadeInRotate 1s linear 16s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
@keyframes blurFadeIn {
	0% {
		opacity: 0;
		text-shadow: 0px 0px 40px #fff;
		transform: scale(1.3);
	}
	50% {
		opacity: 0.5;
		text-shadow: 0px 0px 10px #fff;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		text-shadow: 0px 0px 1px #fff;
		transform: scale(1);
	}
}


