

body {
	background: url("https://ak6.picdn.net/shutterstock/videos/7739563/thumb/1.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
	margin: auto;
	padding-right: 50px;
	font-size: 2.5em;
}

h2 {
	margin-top: 100px;
	color: black;
	font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 500px) {
  h2{ display: flex; }
}
@media only screen and (max-width: 500px) {
 .recharts-wrapper{ 
 		transform: scale(.8);
 		}
  } 

h3, h4{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h4{
	color: #00B2A7; 
}

h5{
	text-align: center;
	color: white;
	width: 350px;
	top: 0;
	padding-bottom: 5%;
	margin: auto;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width: 400px) {
  h5{ margin-left: 2%;
  	  margin-right: 2%; 
  	  width: auto;}
}

p{
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
   color: cornflowerblue;
   cursor: pointer;
}


ul li {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

button:hover{
	cursor: pointer;
}

th, label{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-left: 10px;
	font-size: 15px;
	margin-right: 10px;
	color: white;
}

td{
	color: white;
	border-top: 1px solid white;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 100;
}

input{
	background-color: white!important;
}

#img{
  content: url("https://image.ibb.co/jurOAn/bitcoin.jpg");
	margin: 0;
	z-index: 1000;
	opacity: 1.0;
	text-align: center;
	width: 40px;
	height: 40px;
	margin-left: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: fadeInRotate 1s linear 2s backwards;
	-moz-animation: fadeInRotate 1s linear 2s backwards;
	-ms-animation: fadeInRotate 1s linear 2s backwards;
	animation: fadeInRotate 1s linear 2s backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}

#just{
	margin: auto;
}


.header-bar{
	display: -webkit-box;
	background-color: black;
	opacity: .9;
	width: 100%;
	height: 89px;
	margin-top: 0;
	margin-bottom: 0;
}

.arrow{
 position: relative;
  box-sizing: border-box;
  height: 4vw;
  width: 4vw;
  text-align: right;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  float: right;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-right: 5%;
}

.arrow:hover {
  color: #00B2A7;
  cursor: pointer;
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.recharts-surface{
	display: block;
	margin: auto;
}

.wrapper {
  display: block;
  border: 1px solid #555;
}


.label{
  text-transform: uppercase;
  height: 1em;
  padding: .3em;
  background: rgba(255, 255, 255, .8);
  position: absolute;
  color: #333;
}

.second, #password, #email, .sub, #go, #passwordConfirm, input, #btnn {
	border: none;
	margin-bottom: 7px;
	margin-top: 5px;
    padding: 15px 20px;
    border-radius: 25px;
    width: 200px;
    background-color: rgba(255,255,255,.1);
    text-decoration: none;
   	cursor: pointer;
   	font-size: 13px;
}

#btnnn{
	top: 15px;
    text-align: center;
    cursor: pointer;
    margin: 2px 2px 2px 13px;
    padding: 8px 16px 7px;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #e0a905;
    text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
}
@media only screen and (max-width: 500px) {
   #btnnn{ top: 59px;
           margin-left: 5px;}
   }

#btnnn:hover{
	background: rgba(204, 204, 204, 0.5);
}

#btnn:hover{
	background: rgba(204, 204, 204, 0.5);
}

#btnnn, #btnn {
	color: white;
}

.sub:hover{
	background: rgba(204, 204, 204, 0.5);
}

.sub{
	color: white;
	font-size: 14px;
	cursor: pointer;
	border: none;
    padding: 15px 20px;
    border-radius: 25px;
    width: 200px;
    height: 43px;
}

.login-form{
	box-sizing: border-box;
	text-align: center;
	width: 300px;
	height: auto;
	position: relative;
	transform-style: preserve-3d;
	background-color: rgba(40,57,101,.9);
    color: dodgerblue;
    margin: auto;
    padding-bottom: 3%;
    padding-top: 5%;
    font-size: 15px;
    font-family: 20px 'Open Sans',sans-serif;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
}

.hr{
	height: 2px;
	top: 0;
	background: rgba(255,255,255,.2);
}

#beginning{
	color: white;
	margin-top: 50%;
}

.stats, #together, #graph {
	background-color: rgb(47, 54, 70);
	padding-top: 5%;
	
}

@media screen and (max-width: 646px) {
	.stats, #tabs, #together, #stats{
		width: 100%;
	}
}

#reg{
	margin-top: 5px;
	width: 130px;
	color: white;
	border-radius: 2px;
	background-color: #43464B;
	box-shadow: 6px 6px 6px #999;
}


.recharts-tooltip-label{
	color: blue;
}

.recharts-wrapper, .container{
	width: 100% !important;
}

#graph{
	padding-bottom: 10%;
    margin-bottom: -5%;
}


.react-autosuggest__suggestions-container{
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	color: white;
}

.react-autosuggest__suggestions-container:hover{
	color: #00B2A7;
}

#rank, #rank1, #rank2, #rank3, #rank4{
	font-family: 'Raleway', sans-serif;
	margin-bottom: 2%;
}

#statss, #stats1, #stats2, #stats3, #stats4 {
	font-family: 'Dosis', sans-serif;
}

#rank{
	text-align: center;
	display: grid;
	color: white;
}

#stats1{
	display: table;
}

#rank1{
	padding-bottom: 5%;
	margin-left: 10%;
	display: inline-block;
	text-align: center;
	color: white;
}
@media only screen and (min-width: 899px) {
	      #rank1{ margin-left: 20%;

}
}

#stats3{
	display: table;
	
}

#rank3{
	padding-bottom: 5%;
	margin-right: 10%;
	float: right;
	display: inline-block;
	text-align: center;
	color: white;
}
@media only screen and (min-width: 899px) {
	      #rank3{ margin-right: 20%;

}
}

#stats2{
	display: table;
}

#rank2{
	margin-left: 10%;
	display: inline-block;
	text-align: center;
	color: white;
}
@media only screen and (min-width: 899px) {
	      #rank2{ margin-left: 20%;

}
}

#stats4{
	display: table;
	
}

#rank4{
	margin-right: 10%;
	display: inline-block;
	float: right;
	text-align: center;
	color: white;
}
@media only screen and (min-width: 899px) {
	    #rank4{ margin-right: 20%;

}
}

#together{
	display: block;
	padding-bottom: 6%;
}

.mine{
	box-sizing: border-box;
	background: rgb(204, 204, 204); 
    background: rgba(204, 204, 204, 0.5);
	color: black;
	text-align: center;
    line-height: 4vh;
    display: inline-table;
    border-radius: 3px;
    box-shadow: 6px 6px 6px #999;
    margin-bottom: 5%;
}
@media only screen and (max-width: 550px) {
  #mine, #graph{ 
  		  margin: 0;
  		  font-size: 10px bold;
  		  transform: scale(.8);
  		  width: 100%;}
  }

@media only screen and (max-width: 450px) {
  #mine, #graph{  margin-left: -10%;
  		  font-size: 10px bold;
  		  transform: scale(.7);
  		  width: 100%;}
  }
@media only screen and (max-width: 350px) {
  #mine, #graph{  margin-left: -20%;
  		  font-size: 10px bold;
  		  transform: scale(.7);
  		  width: 100%;}
  }


  #coin-names{
	font-size: 20px;
	text-decoration: underline;
	color: black; 
	text-align: center;
	margin: auto;
}

#amount{
	text-align: center;
}

#plus{
	color: white;
	border-radius: 2px;
	background-color: transparent;
	width: 30px;
	height: 30px;
	padding-bottom: 2px;
	padding: 2px;
	text-align: center;
}

#left:hover{
 background: red;
 cursor: pointer;
}

.my-amounts{
	box-sizing: border-box;
	background-color: black;
	opacity: .5;
	margin-left: 5%;
	margin-right: 5%;
	color: white;
	text-align: center;
	column-count: 1;
    line-height: 4vh;
    display: table;
}

  #map{
	box-sizing: border-box;
    opacity: 1;
    margin: auto;
    color: blue;
	text-align: center;
    line-height: 4vh;
    display: block;
    border-radius: 3px;
    margin-top: 5%;
    margin-bottom: 5%; 
}

#content{
  text-align: center;
}

#current{
	text-align: right;
}

.showMe{
  opacity: 0; 
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: 13s;
  }


@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media only screen and (min-width: 900px) {
   .showMe{ margin-left: 20%;
  			 margin-right: 20%;}
  }

@media only screen and (min-width: 647px) {
   .showMe{ margin-left: 10%;
   			margin-right: 10%}
}

@media screen and (max-width: 646px) {
	.showMe{
		width: 100%;
	}
}

#hideMe {
	top: 50%;

    -moz-animation: cssAnimation 1s ease-in 12s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 1s ease-in 12s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 12s forwards;
    /* Opera */
    animation: cssAnimation 1s ease-in 12s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {

        width: 0;
        height: 0;
        visibility: none;
    }
}

.feature-progress {
  margin-top: 0;
  position: relative;
}

.feature-progress-ball {
  animation: feature-progress-ball 3s ease-in-out infinite;
  background: white;
  border-radius: 50%;
  height: 8px;
  margin-left: -4px;
  transform-origin: center bottom;
  width: 8px;
}

@keyframes feature-progress-ball {
  0% {
    opacity: 0;
    transform: translateY(-10px) scaleY(1)
  }
  6.25%,
  18.75%,
  31.25%,
  43.75%,
  56.25%,
  68.75%,
  81.25%,
  93.75% {
    opacity: 1;
    transform: translateY(-20px) scaleY(1);
  }
  12.5%,
  25%,
  37.5%,
  50%,
  62.5%,
  75%,
  87.5% {
    opacity: 1;
    transform: translateY(0) scaleY(0.75);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scaleY(1);
  }
}

.feature-progress-ball-wrap {
  animation: feature-progress-ball-wrap 3s ease-in-out infinite;
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
}

@keyframes feature-progress-ball-wrap {
  0% {
    transform: translateX(-20%);
  }
  12.5% {
    transform: translateX(5%);
  }
  25% {
    transform: translateX(20%);
  }
  37.5% {
    transform: translateX(35%);
  }
  50% {
    transform: translateX(50%);
  }
  62.5% {
    transform: translateX(65%);
  }
  75% {
    transform: translateX(80%);
  }
  87.5% {
    transform: translateX(95%);
  }
  100% {
    transform: translateX(120%);
  }
}

.feature-progress-platform {
  animation: feature-progress-platform 3s ease both 0.3s infinite;
  background-color: white;
  border-radius: 2px;
  bottom: 0;
  height: 5px;
  left: 0;
  top: 50%;
  position: relative;
  width: 9%;
}

.feature-progress-platform:nth-child(2) {
  animation-delay: 0.7s;
  left: 15%;
}

.feature-progress-platform:nth-child(3) {
  animation-delay: 1.075s;
  left: 30%;
}

.feature-progress-platform:nth-child(4) {
  animation-delay: 1.45s;
  left: 45%;
}

.feature-progress-platform:nth-child(5) {
  animation-delay: 1.825s;
  left: 60%;
}

.feature-progress-platform:nth-child(6) {
  animation-delay: 2.2s;
  left: 75%;
}

.feature-progress-platform:nth-child(7) {
  animation-delay: 2.575s;
  left: 90%;
}

@keyframes feature-progress-platform {
  0% {
    background: rgba(255, 255, 255, 0.2);
  }
  3% {
    background: black;
    transform: translateY(4px);
  }
  6% {
    background: black;
    transform: none;
  }
}

.login-form2{
	padding-bottom: 5%;
}

#add-search{
	background-color: #1B2631;
}

#name{
	font-size: 1.25em;
	color: #00B2A7;
	margin-left: 8%;
}

#view, #search{
	font-size: 1.5em;
	color: dodgerblue;
}

#tabs{
	margin: 0;
	text-align: center;
	background-color: #1B2631;
	padding-top: 5%;
	top: 0;
}

.chart { 
  color: white;
  text-align: center;
}

.chart figcaption {
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-radius: 100px;
  line-height: 75px;
}

#statss + svg .outer {
  stroke: #e34f26;
}


.#stats2 + svg .outer {
  stroke: #0d84ce;
}

#stats4 + svg .outer {
  stroke: #f0e040;
}

.chart svg {
  position: absolute;
}

#stats3, .chart {
	border-color: #e67f19;
	align-content: center;
	margin: auto;
}

#stats2, .chart {
	border-color: lime;
	align-content: center;
}

#stats4, .chart {
	border-color: deepskyblue;
	align-content: center;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}

.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */